@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Create</h1>
</div>

<div style="margin-top: 20px; margin-bottom: 10px;">
    <form asp-action="Create">
        <partial name="_CreateOrEdit" />
    </form>
</div>